h1 {
    margin: 0 auto;
    background-color: red;
    padding-left: 20px;
    font-size: 28px;
    height: 35px;
    line-height: 35px;
    width: 422px;
    border-radius: 25px 25px;
    text-align: center;
}

body {
    background-color: rgb(149, 210, 235);
    padding: 0;
    margin: 0;
}

form {
    /* Center the form on the page */
    margin: 0px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 5px solid black;
    border-radius: 1em;
    background-color: rgb(108, 219, 34);
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-bottom: 10px;
}

input,
textarea {
    width: 60%;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    height: 25px;
    line-height: 25px;
}

input[type="radio"] {
    font: 1em sans-serif;
    width: 30px;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

button {
    /* Align buttons with the text fields */
    padding: 10px 10px;
    border-radius: 25px 25px;
    text-align: center;
    margin-left: .5em;
    width: 50%;
    display: inline-block;
}

w90 {
    width: 100%;
}

.source {
    position: absolute;
    left: 45%;
}