/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    line-height: initial;
    letter-spacing: unset;
    word-spacing: normal;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: left;
}


/* Layout */

section {
    float: left;
    width: 50%;
    font-size: 20px;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
    list-style: none;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}


/* header and footer */

header,
footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

a {
    color: red;
}

li {
    line-height: unset;
    padding: 5px;
}

nav ul li {
    border: 1px red solid;
    list-style: none;
    padding: 20px;
    margin: 30px;
}

nav ul li a {
    text-decoration: none !important;
}

a:hover {
    color: blue;
}